/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color:#E5E5E5;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Style of a custom popover*/
.pop {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  max-width: 276px;
  text-align: left;
  white-space: normal;
  background: #fff;
  margin: 15px;
  padding: 8px 0px;
  border-radius: 2px;

-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);
-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);

}

.pop.top {
  margin-top: -10px;
}
.pop.right {
  margin-left: 10px;
}
.pop.bottom {
  margin-top: 10px;
}
.pop.left {
  margin-left: -10px;
}
.pop-title {
  padding: 8px;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
  
}
.pop-title h3{
  display: inline;
  
}
.pop-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.pop-content li{
  padding-right: 48px;
  padding-left:24px;

  }
.pop-content li:hover{
  background-color: rgba(0, 0, 0, 0.035);
 }

/*////////////////////////////////////////
//////////////////  LISTAS  ////////////////
///////////////////////////////////////// */
.list {
  background-image: -webkit-linear-gradient(#e5e5e5 49px,#eaeaea 49px);
  background-image: linear-gradient(#e5e5e5 49px,#eaeaea 49px);
  -webkit-background-size: 100% 98px;
  background-size: 100% 98px;
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
  box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
  margin-bottom: 20px;
  padding: 0px;
}

.item {
  background-color: #fff;
  border-bottom: 1px solid #ececec;
    height: 55px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  
}
.item .name{
  font-weight: bold;
}

/* MENU ITEM */


.menu-item {
background: none;
border-width: 0;
cursor: pointer;
display: block;
color: #333;
font-size: inherit;
line-height: 40px;
max-height: 40px;
opacity: 1;
margin: 0;
outline: none;
padding: 0px 28px;
position: relative;
text-align: left;
text-decoration: none;
width: 100%;
z-index: 1;
-webkit-transition: 0.45s cubic-bezier(0.35, 0, 0.25, 1);
-webkit-transition-property: max-height, background-color, opacity;
-moz-transition: 0.45s cubic-bezier(0.35, 0, 0.25, 1);
-moz-transition-property: max-height, background-color, opacity;
transition: 0.45s cubic-bezier(0.35, 0, 0.25, 1);
transition-property: max-height, background-color, opacity;
}

.itemList{
  background-color: #fff;
  border-bottom: 1px solid #ececec;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  width: 100%;
}



.menu-item.menu-title {
color: #888;
font-size: 14px;
padding-left: 16px;
text-align: left;
text-transform: uppercase;
transition: color 0.35s cubic-bezier(0.35, 0, 0.25, 1);
}

.menu-item:focus {
font-weight: bold;
}
.menu-item:hover {
color: #999;
}

 .face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px; }

  .md-tile-content h3{
    font-weight: bold;
  }

  /* button floatting proveedores*/

  .pluss1{
    position: fixed; bottom: 24px; 
    right: 120px;
    -webkit-box-shadow: 0px 2px 10px rgba(0,0,0,.3),0px 0px 1px rgba(0,0,0,.1),inset 0px 1px 0px rgba(255,255,255,.25),inset 0px -1px 0px rgba(0,0,0,.15);
-moz-box-shadow: 0px 2px 10px rgba(0,0,0,.3),0px 0px 1px rgba(0,0,0,.1),inset 0px 1px 0px rgba(255,255,255,.25),inset 0px -1px 0px rgba(0,0,0,.15);
  }
  
 .pluss{
    position: fixed; bottom: 24px; 
    right: 40px;
    -webkit-box-shadow: 0px 2px 10px rgba(0,0,0,.3),0px 0px 1px rgba(0,0,0,.1),inset 0px 1px 0px rgba(255,255,255,.25),inset 0px -1px 0px rgba(0,0,0,.15);
-moz-box-shadow: 0px 2px 10px rgba(0,0,0,.3),0px 0px 1px rgba(0,0,0,.1),inset 0px 1px 0px rgba(255,255,255,.25),inset 0px -1px 0px rgba(0,0,0,.15);
  }

  #compras {
    background: url(../images/menbreteup.png) no-repeat;
    background-size:100%;
  display:block;
  }

  @media print {

    #compras {
    background: url(../images/menbreteup.png) no-repeat !important; 
    background-size:100% !important;
  display:block !important;
  }

}

/* BOXES */

.gridListdemoBasicUsage md-grid-list {
  margin: 8px; }
.gridListdemoBasicUsage .gray {
  background: #f5f5f5; }
.gridListdemoBasicUsage .green {
  background: #b9f6ca; }
.gridListdemoBasicUsage .yellow {
  background: #ffff8d; }
.gridListdemoBasicUsage .blue {
  background: #84ffff; }
.gridListdemoBasicUsage .purple {
  background: #b388ff; }
.gridListdemoBasicUsage .red {
  background: #ff8a80; }
.gridListdemoBasicUsage md-grid-tile {
  transition: all 700ms ease-out 50ms; }