<md-dialog aria-label="Mango (Fruit)">
  <form>
  <md-dialog-content>
    <div>
      <h3>¿Desea Guardar la anteriror orden de compra?</h3>
      
      <p>
        Si esta seguro de registrar su orden de compra presione <bold>Ok</bold> de lo contrario cancelar.
      </p>
 
    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" hide show-md>
      More on Wikipedia
    </md-button>
    <span flex></span>
    <md-button ng-click="answer('not useful')" class="md-primary">
     Not Useful
    </md-button>
    <md-button ng-click="answer('useful')" class="md-primary">
      Useful
    </md-button>
  </div>
  </form>
</md-dialog>