<md-dialog aria-label="Nuevo Proveedor">
<md-content>

<h3 style="padding-left: 0; font-weight: bold;">Proveedor</h3>
<form>
<md-text-float label="Razón Social" ng-model="prov.name" type="text"> </md-text-float>
<md-text-float label="Nit" ng-model="prov.nit" class="long" type="text"> </md-text-float>
<md-text-float label="Telefono" ng-model="prov.tel" class="long" type="text"> </md-text-float>
<md-text-float label="eMail" ng-model="prov.mail" type="email"> </md-text-float>
</form>
</md-content>
<div class="md-actions" layout="row">

  <span flex></span>
  <md-button ng-click="answer('not useful')">
  Cancelar
</md-button>
<md-button ng-click="save(prov)" class="md-primary">
Agregar
</md-button>
<!--  <pre>form = {{prov | json}}</pre> -->
</div>
</md-dialog>