<md-dialog aria-label="Nuevo Proveedor" >
<md-content >

<h3 style="padding-left: 0; font-weight: bold;">Proveedor</h3>
<md-input-container>
<label>Razón Social</label>
<input ng-model="prov.name" type="text">
</md-input-container>
<md-input-container>
<label>Nit/C.C</label>
<input ng-model="prov.nit" class="long" type="text">
</md-input-container>
<md-input-container>
<label>Dirección</label>
<input ng-model="prov.dicc" class="long" type="text">
</md-input-container>
<md-input-container>
<label>Ciudad</label>
<input ng-model="prov.city" class="long" type="text">
</md-input-container>
<md-input-container>
<label>Telefono</label>
<input ng-model="prov.tel" class="long" type="text">
</md-input-container>
<md-input-container>
<label>Mail</label>
<input ng-model="prov.mail" type="email">
</md-input-container>
</md-content>
<div class="md-actions" layout="row">

  <span flex></span>
  <md-button ng-click="cancel()">
  Cancelar
</md-button>
<md-button ng-click="save(prov)" class="md-primary">
Agregar
</md-button>
<!--  <pre>form = {{prov | json}}</pre> -->
</div>
</md-dialog>