<div  center-block" layout="column"  ng-controller="MaterialesCtrl" layout-fill>
     
      <div layout-padding style="height:6em; width:400px;">
            <md-input-container >

              <label>buscar Proveedor</label>
              <input ng-model="search">
           
        </md-input-container>
    </div>
     
  <!-- lista de materiales con link a firebase-->

<div  layout-fill>
 
           <md-list  flex="100" role="list" class="list" >
              
              <md-list-item class=" item " ng-repeat="item in materiales| filter:search | orderBy:'name'">
               
                <img ng-src="{{item.face}}" class="md-avatar face" alt="{{item.desc}}" />
                
                   
                   <div flex="30" class="name"><p>{{item.descripcion}}</p></div>
                   <div flex="25"><p>V/unit: {{item.vunit | currency}}</p></div>
                   <div flex="20"><p> {{item.proveedor.name}}</p></div>
                    <div class="md-tile-right"><span class="badge "> {{item.cantidad}} </span></div>
              </md-list-item>
              
           </md-list>
 
</div>

</div>