<div flex class="container">
    <div class="inset" ng-controller="MainCtrl">
  <md-switch ng-model="asist" ng-click="asisToast()" aria-label="Switch 1" ng-true-value="false" ng-false-value="true">
    Switch 1
    <md-tooltip>Switch 1</md-tooltip>
  </md-switch>
  
   <md-button ng-show="!asist" flex class=" pluss md-fab md-primary" md-theme="" aria-label="Profile" ng-click="save($event)">
            <md-tooltip>Enviar asistencia</md-tooltip>
                <i class="fa fa-paper-plane fa-lg"></i>
    </md-button>
</div>

</div>