<div id="compras" flex class="container center-block" style="padding-top: 150px;" layout-fill>
	<h4>Barranquilla,</h4>
	<h4><strong>Orden de compra No.</strong> </h4>

<p>
	SOLUCIONES DE INGENIERIA A&H S.A.S<br>
	NIT. 900 604 801 – 0<br>
	Dirección de envío: Calle 36 No. 25 - 53<br>
	Barrio Montes, Barranquilla<br>
	Teléfonos: 5 - 326 5261 - 3206137 - 317 380 7682
</p>
<h4 class="text-center"><strong>Información del proveedor</strong></h4>
<div flex="50" ng-controller="InfoCtrl">


<!-- TABLA DE DESCIPCION PARA PROVEEDORES-->
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Proveedor</th>
			<th>Nit</th>
			<th>Dirección</th>
			<th>Telefono</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>
			<select class="form-control long" ng-model="mat.prov" ng-options="opt as opt.name for opt in proveedores">
			<option value=""> Proveedor</option>
			</select>
			</th>
			<th>{{mat.prov.nit}}</th>
			<th>{{mat.prov.dirc}}</th>
			<th>{{mat.prov.tel}}</th>
		</tr>
	</tbody>
</table>

<!-- TABLA DE DESCIPCION PARA PROVEEDORES-->
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Item</th>
			<th>Descripción</th>
			<th>Cantidad</th>
			<th>Valor unitario</th>
			<th>Total</th>
		</tr>
	</thead>
	<tbody>
		<tr  ng-repeat="item in items">
			<th>
				{{item.item}}
			</th>
			<th>
			<select  class="form-control long" ng-model="mta" ng-options="mt as mt.descripcion for mt in materiales | filter : mat.prov.name">
			<option value="">Material</option>
			</select>
			</th>
			<th ><input style="width: 60px;"  ng-model="cant"></input></th>
			<th>{{mta.vunit | currency}}</th>
			<th>{{mta.vunit * cant | currency}}</th>
		</tr>
	</tbody>
</table>

<!-- Boton + para adicionar proveedores a la lista -->

	<p>
      <md-button ng-show="mat.prov" class=" pluss1 md-primary" ng-click="addItem()">Add</md-button>
      <md-button ng-show="mat.prov" class=" pluss  md-primary" ng-click="removeItem()">Remove</md-button>
    </p>

<!--             <md-button ng-show="mat.prov" flex class=" pluss md-fab md-primary" md-theme="" aria-label="Profile" ng-click="addItem()">
            <md-icon class="icon-content-white icon-content-white-ic_add_white_24dp "></md-icon>

            </md-button>

            <md-button ng-show="mat.prov" flex class=" pluss md-fab md-primary" md-theme="" aria-label="Profile" ng-click="addItem()">
            <md-icon class="icon-content-white icon-content-white-ic_remove_white_24dp "></md-icon>

            </md-button> -->
<pre>form = {{mat.prov.name}}</pre>
</div>
</div>