<div class="container"  layout="row" flex ng-controller="ProveedorCtrl">
    <md-list>
      <md-item ng-repeat="item in todos">
        <md-item-content>
          <div class="md-tile-left">
              <img ng-src="{{item.face}}" class="face" alt="{{item.name}}">
          </div>
          <div class="md-tile-content">
            <h3>{{item.name}}</h3>
            <h4>NIT: {{item.nit}}</h4>
            <p>
              {{item.tel}}
            </p>
          </div>
        </md-item-content>
        <md-divider md-inset ng-if="!$last"></md-divider>
      </md-item>
    </md-list>
            <md-button  flex class=" pluss md-fab md-primary" md-theme="" aria-label="Profile">
             <span class="glyphicon glyphicon glyphicon-plus" style="color: white;" aria-hidden="true"></span>
            </md-button>
</div>